# ------------------------------------------------------------------------------
# INFRASTRUCTURE
# ------------------------------------------------------------------------------
WEB_PORT=3000
API_PORT=3333

# ------------------------------------------------------------------------------
# DATABASE
# ------------------------------------------------------------------------------
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="ate_a_falha_db"

DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/ate_a_falha_db?schema=public" #Local
DIRECT_URL="postgresql://postgres:mysecretpassword@localhost:5432/ate_a_falha_db?schema=public" #Local

#DATABASE_URL="postgresql://postgres:mysecretpassword@db:5432/ate_a_falha_db?schema=public" for docker
#DIRECT_URL="postgresql://postgres:mysecretpassword@db:5432/ate_a_falha_db?schema=public" for docker

# ------------------------------------------------------------------------------
# BACKEND CONFIGURATION
# ------------------------------------------------------------------------------
SERVER_URL="http://localhost:3333"
JWT_SECRET="your_random_secret_here"
JWT_EXPIRES_IN="1d"
LOG_LEVEL="debug"
NODE_ENV="development"

# ------------------------------------------------------------------------------
# FRONTEND CONFIGURATION
# ------------------------------------------------------------------------------
CORS_ORIGIN="http://localhost:3000"
VITE_API_URL="http://localhost:3333/api/v1"

# ------------------------------------------------------------------------------
# DATA MANAGEMENT PATHS 
# ------------------------------------------------------------------------------
DATA_SILVER_PATH="/app/data/silver"
DATA_GOLD_PATH="/app/data/gold"
DATA_RAW_IMAGES_PATH="/app/data/exercise-images"
ASSETS_EXERCISES_PATH="/app/packages/assets/src/exercise-images"

