PORT=3333

# DATABASE
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="ate_a_falha_db"

# Without Docker:
#DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/ate_a_falha_db?schema=public"
#DIRECT_URL="postgresql://postgres:mysecretpassword@localhost:5432/ate_a_falha_db?schema=public"

# With Docker:
DATABASE_URL="postgresql://postgres:mysecretpassword@db:5432/ate_a_falha_db?schema=public"
DIRECT_URL="postgresql://postgres:mysecretpassword@db:5432/ate_a_falha_db?schema=public"

# BACKEND CONFIGURATION
JWT_SECRET="your_random_secret_here"
JWT_EXPIRES_IN="1d"
LOG_LEVEL="debug"
NODE_ENV="development"
CORS_ORIGIN="http://localhost:3000"
SERVER_URL="http://localhost:3333"
